<div class="card mb-3 mt-1 shadow-sm">
{% load thumbnail %}
  <h5 class="card-header">
    <!-- Нет, это не часть шаблона author_card, это просто заголовок поста, каждого в отдельности  -->
    <a href="{% url 'post' username=post.author post_id=post.pk %}">
    Автор: @{{ post.author.username }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </a>
  </h5>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}">
  {% endthumbnail %}
  <div class="card-body">
    <p>{{ post.text|linebreaksbr }}</p>
     <!-- Отображение ссылки на комментарии -->
    {% if post.comments.exists %}
      <div>
        Комментариев: {{ post.comments.count }}
      </div>
    {% endif %}
    <!-- Ссылка на страницу записи в атрибуте href-->
    {% if user.is_authenticated %}
      <a class="btn btn-sm btn-primary" href="{% url 'add_comment' username=post.author post_id=post.pk %}" role="button">
          Добавить комментарий
      </a>
    {% endif %}

    {% if post.author == user %}
    <a class="btn btn-sm btn-primary" href="{% url 'post_edit' username=post.author post_id=post.pk %}" role="button">
      Редактировать
    </a>
    {% endif %}
    
  </div>
</div>